 <!DOCTYPE html>
<html>
                <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Chi tiết đơn hàng</h3>
                </div>
                <div class="card-body bg-white">
                    <div class="row">
                        <!-- Form Panel    -->
                        <div class="col-lg-7 bg-white">
                          <div class="form d-flex align-items-center">
                            <div class="content">
                              <form class="form-validate">
                                <div class="form-group">
                                  <strong>Ngày mua</strong>
                                  <p>{{data.date}}</p>
                                </div>
                                <div class="form-group">
                                  <strong>Người mua</strong> 
                                  <p>{{data.customName}}</p>
                                </div>
                                <div class="form-group">
                                  <strong>Địa chỉ</strong> 
                                  <p>{{data.address}}</p>
                                </div>
                                <div class="form-group">
                                  <strong>Trạng thái:</strong> 
                                  <p>{{data.status}}</p>
                                </div>
                                <div class="form-group">
                                  <strong>Chi tiết đơn hàng</strong> 
                                </div>
                                {{#each data.products}}
                                <div class="form-group m-l-20">
                                  <strong>Sản phẩm {{inc @index}}:</strong> 
                                  <p>{{this.product}}</p>
                                </div>
                                <div class="form-group m-l-20">
                                  <strong>Đơn giá:</strong> 
                                  <p class="js-cost">{{this.price}}</p>
                                </div>
                                <div class="form-group m-l-20">
                                  <strong>Số lượng:</strong> 
                                  <p>{{this.amount}}</p>
                                </div>
                                {{/each}}
                                <div class="form-group">
                                  <strong>Tổng tiền:</strong> 
                                  <p class="js-cost">{{total}}</p>
                                </div>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                                <div class="form-group">
                                    <button class="btn btn-primary" formaction="/orders">Trở về</button>
                                </div>
                        </div>
                    </div>
                </div>
            
</html>