<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> --}}
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"
		media="screen" />
	{{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> --}}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
	<!--===============================================================================================-->

	<link rel="stylesheet" href="/stylesheets/css/default-style.css">

	{{!-- components --}}
	<link rel="stylesheet" href="/components/component-default-button.css">
	<link rel="stylesheet" href="/components/component-outline-button.css">

	{{{_sections.css}}}
</head>

<body>

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop" style="background-color: black; margin-top: 0;">
				<nav class="limiter-menu-desktop container" style="padding: 0 !important; width: 90% !important;">
					<!-- Logo desktop -->
					{{!-- <a href="/" class="logo" style="font-size: 30px; color:white">
						LOGO
					</a> --}}
					<a href="" class="logo"><img class="img-circle" src="/images/logo.png" alt="" /></a>
					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/" class="stretched-link">TRANG CHỦ</a>
							</li>

							<li>
								<a href="/product" class="stretched-link">HÀNG MỚI VỀ</a>
							</li>
							<li>
								<div class="dropdown">
									<a class="dropbtn stretched-link" href="/product">SẢN
										PHẨM</a>
									<div class="dropdown-content">
										<a href="#">Link 1</a>
										<a href="#">Link 2</a>
										<a href="#">Link 3</a>
									</div>
								</div>
								{{!-- <a href="/aboutus">SẢN PHẨM</a> --}}
							</li>
							<li>
								<a href="/product" class="stretched-link">JEANS</a>
							</li>
							<li>
								<a href="/product" class="stretched-link">PHỤ KIỆN</a>
							</li>
							<li>
								<a href="/try-on-clothes" class="stretched-link">THỬ ĐỒ</a>
							</li>
							<li>
								<div class="search-input"><input id="product_name"
										class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
										style="background-color: white; width: 220px; border-radius: 10px; height: 35px; padding-left: 15px; color:black">
									<button id="btn_search" class="btn-search" type="link"><i
											class="zmdi zmdi-search"></i></div></button>
							</li>
							<li>
								<div class="wrap-icon-header flex-w flex-r-m">
									<div class="icon-header-item hov-cl1 trans-04 p-r-11 icon-header-noti js-show-cart"
										data-notify="{{amountproduct}}">
										<a href="/shoppingcart" class="cl2 btn-cart">
											<i class="zmdi zmdi-shopping-cart"></i>
											{{sessionFlash.amountproduct}}
										</a>
									</div>
								</div>
							</li>
							<li>
								<div class="dropdown">
									<a class="dropbtn-avatar" href="/product">
										<img src="https://png.pngtree.com/png-clipart/20190906/original/pngtree-520-couple-avatar-boy-avatar-little-dinosaur-cartoon-cute-png-image_4561296.jpg"
											class="avatar"></img>
									</a>
									<div class="dropdown-content">
										<a href="#">Trang cá nhân</a>
										<a href="#">Đổi mật khẩu</a>
										<a href="#">Đăng xuất</a>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<!-- Icon header -->

				</nav>

			</div>

		</div>

	</header>

	<div style="margin-top: 84px">
		<ul class="breadcrumb">
			<li><a href="/">TRANG CHỦ</a></li>
			<li><a href="/product">SẢN PHẨM</a></li>
			<li><a href="#">ÁO</a></li>
		</ul>
	</div>

	<!-- Content-->
	{{{body}}}

	<!-- Footer -->
	<footer class="p-t-35 p-b-32 footer" style="background-color: #000;">
		<div class="container">
			<div class="footer-logo">
				<a href="/" class="logo"><img class="img-circle" src="/images/logo.png" alt="" /></a>
			</div>
			
			<div class="row text-center">
				<div class="col-6 col-sm-4">
					<h4 class="stext-301 cl0 p-b-30">
						Địa chỉ: 227 Nguyễn Văn Cừ, quận 5, tp. Hồ Chí Minh
					</h4>
				</div>
				<div class="col-6 col-sm-4">
					<h4 class="stext-301 cl0 p-b-30">
						Điện thoại: 0397350xxx
					</h4>
				</div>
				<div class="col-6 col-sm-4">
					<h4 class="stext-301 cl0 p-b-30">
						Email: team13@gmail.com
					</h4>
				</div>
			</div>
			<div class="row text-center">
				<ul class="main-menu col-6 col-sm-4" style="width: 40%; margin: auto; margin-bottom: 15px">
					<li>
						<a href=""><img src="/images/gg.png" alt="" /></a>
					</li>
					<li>
						<a href=""><img src="/images/fb.png" alt="" /></a>
					</li>
					<li>
						<a href=""><img src="/images/isg.png"  alt="" /></a>
					</li>
				</ul>
			</div>

			<div class="row text-center">
				<div class="p-b-4 p-t-10" style="width: 40%; margin: auto">
					<div class="search-input">
						<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
							placeholder="email@example.com"
							style="background-color: white; border-radius: 5px; padding: 10px 35px 10px 20px">
						<button id="btn_search" class="btn-search" style="font-size: 25px; top: 5px; right: 20px"
							type="link"><i class="zmdi zmdi-chevron-right"></i></div></button>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->

	{{{_sections.js}}}

	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/slick/slick.min.js"></script>
	<script src="/javascripts/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "đã được thêm vào danh sách yêu thích!", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "đã được thêm vào danh sách yêu thích!", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "đã được thêm vào giỏ hàng", "success");
			});
		});

	</script>
	<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<script>
		$('select').on('change', function () {
			var i = parseInt(this.value) - 1;
			var shipFee = [0, 10000, 10000, 10000, 10000, 20000, 20000, 50000, 50000, 50000, 50000, 60000, 40000, 50000, 50000, 50000, 50000, 60000, 40000, 50000, 50000, 50000, 50000, 60000];
			$('#ship-fee').text(setCost(shipFee[i]));
			$('#total-ship').html(setCost(parseInt(shipFee[i]) + parseInt({{ this.total }})));
		$('#i-ship-fee').val(setCost(shipFee[i]));
		});
		function setCost(cost) {
			var coststring = '';
			var temp;
			if (cost == 0) {
				coststring = '0';
			}
			while (cost >= 1) {
				if (cost < 1000) {
					temp = Math.floor(cost);
				} else {
					temp = cost % 1000;
					if (temp < 10) {
						temp = "00" + temp;
					} else if (temp < 100) {
						temp = "0" + temp;
					}
				}
				if (coststring == '') {
					coststring += temp;
				} else {
					coststring = temp + "." + coststring;
				}
				cost /= 1000;
			}
			return coststring += " đ";
		}
		$('.js-cost').each(function () {
			var cost = $(this).text();
			$(this).text(setCost(cost));
		});

		$(document).ready(function () {
			$('#color').select2("val", "{{color}}");
			$('#price').select2("val", "{{price}}");
			$('#size').select2("val", "{{size}}");
			$('#category').select2("val", "{{category}}");
		});

	</script>

	<!--===============================================================================================-->
	<script src="/javascripts/main.js"></script>
	<script src="/javascripts/search-input-header.js"></script>

</body>

</html>