<!DOCTYPE html>
<html>
    <div class="card-header d-flex align-items-center">
        <h3 class="h4">Thay Đổi Thông Tin</h3>
    </div>
    <div class="card-body bg-white">
             
                  <form  action="/admins/edit_info" method="POST" class="form-validate col-6 align-items-center">
                    <div class="form-group">
                      <strong>Email</strong> 
                      <div class="m-t-5">{{admin.email}}</div>
                    </div>
                    <div class="form-group">
                      <strong>Họ và tên</strong> 
                      <input id="name" type="text" name="name" required data-msg="Vui lòng nhập họ và tên" class="input-material" placeholder="Họ và tên" value="{{admin.name}}">
                    </div>
                    <div class="form-group">
                      <strong>Chức vụ</strong> 
                      <input id="title" type="text" name="title" required data-msg="Vui lòng nhập chức vụ" class="input-material" placeholder="Chức vụ" value="{{admin.title}}">
                    </div>
                    <div class="form-group">
                      <strong>Ngày sinh</strong> 
                      <input id="birthday" type="date" name="birthday" class="input-material" placeholder="Ngày sinh" value="{{birth}}">
                    </div>
                    <div class="form-group">
                      <strong>Số điện thoại</strong> 
                      <input id="phone" type="text" name="phone" class="input-material" placeholder="Số điện thoại" value="{{admin.phone}}">
                    </div>
                    <div class="form-group">
                      <strong>Địa chỉ</strong> 
                      <input id="address" type="text" name="address" class="input-material" placeholder="Địa chỉ" value="{{admin.address}}">
                    </div>
                    <div class="form-group">
                      <strong>Giới tính</strong> 
                      <input id="gender" type="text" name="gender" class="input-material" placeholder="Giới tính" value="{{admin.gender}}">
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <form>
                          <a href="javascript:history.back()" class="btn btn-primary">Trở về</a>
                        </form>
                        <button id="regidter" type="submit" name="registerSubmit" class= "btn btn-primary m-l-40">Lưu</button>
                        <form>
                          <a href="/changepass" class="btn btn-primary m-l-40">Đổi mật khẩu</a>
                        </form>
                        </button>
                      </div>
                    </div>
                  </form>
                
        </div>
</html>
