{{#section 'css'}}
{{!-- slider slick --}}
<link href="/components/component-filter-list.css" rel="stylesheet" />
<link href="/components/component-outline-button.css" rel="stylesheet" />
<link href="/pages/page-product/style.css" rel="stylesheet" />
<link href="/components/component-product.css" rel="stylesheet" />
<link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css">

{{!-- slider slick --}}
{{title}}
{{/section}}
<div class="page-product">
    <div class="infor">
        <div class="row">
            <div class="col-sm-3">
                <div class="component-filter-list">
                    <div class="filter">
                        <a style="font-size:18px;font-weight:bold;text-transform:uppercase">bộ lọc</a>
                        <button class="component-outline-button">Xóa bộ lọc</button>
                    </div>
                    <div class="categories" style="margin-top: 50px;">
                        <div class="dm">
                            <p class="d">Danh mục</p>
                            <img class="down" data-toggle="collapse" data-target="#list-checkbox1"
                                src="images/icons/left.png" id="img-down" onclick="change()" alt="down.png">
                        </div>
                        <div class="collapse" id="list-checkbox1" style="padding-top: 5px;">
                            <div class="checkbox-cate">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input tab" id="customCheckCat-1">
                                    <label class="custom-control-label" for="customCheckCat-1"></label>
                                </div>
                                <div class="name-product">
                                    <a class="car-title m-0">Đầm</a>
                                </div>
                            </div>
                            <div class="checkbox-cate">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckCat-2">
                                    <label class="custom-control-label" for="customCheckCat-2"></label>
                                </div>
                                <div class="name-product">
                                    <a class="car-title m-0">Jeans</a>
                                </div>
                            </div>
                            <div class="checkbox-cate">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckCat-3">
                                    <label class="custom-control-label" for="customCheckCat-3"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">Áo thun</a>
                                </div>
                            </div>
                            <div class="checkbox-cate">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckCat-4">
                                    <label class="custom-control-label" for="customCheckCat-4"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">Chân váy</a>
                                </div>
                            </div>
                            <div class="checkbox-cate">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckCat-5">
                                    <label class="custom-control-label" for="customCheckCat-5"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">Phụ kiện</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" size="1px" />
                    <div class="size">
                        <div class="dm">
                            <p class="d">Kích cỡ</p>
                            <img class="down" data-toggle="collapse" data-target="#list-checkbox2" id="img-down1"
                                src="images/icons/left.png" onclick="change1()" alt="down.png">
                        </div>
                        <div class="collapse" id="list-checkbox2" style="padding-top: 5px;">
                            <div class="checkbox-size">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckSize-1">
                                    <label class="custom-control-label" for="customCheckSize-1"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">XS</a>
                                </div>
                            </div>
                            <div class="checkbox-size">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckSize-2">
                                    <label class="custom-control-label" for="customCheckSize-2"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">S</a>
                                </div>
                            </div>
                            <div class="checkbox-size">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckSize-3">
                                    <label class="custom-control-label" for="customCheckSize-3"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">M</a>
                                </div>
                            </div>
                            <div class="checkbox-size">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckSize-4">
                                    <label class="custom-control-label" for="customCheckSize-4"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">L</a>
                                </div>
                            </div>
                            <div class="checkbox-size">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckSize-5">
                                    <label class="custom-control-label" for="customCheckSize-5"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">XL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" size="1px" />
                    <div class="cost">
                        <div class="dm">
                            <p class="d">Giá tiền (nghìn vnđ)</p>
                            <img class="down" data-toggle="collapse" data-target="#slider" src="images/icons/left.png"
                                id="img-down2" onclick="change2()" alt="down.png">
                        </div>
                        <div class="collapse checkbox-cost" id="slider">
                            <input type="range" class="range" name="" value="550" min="100" max="1000"
                                onmousemove="rangeSlider(this.value)" onChange="rangeSlider(this.value)"></br>
                            <div>
                                <div>100</div>
                                <div id="rangeValue">500</div>
                                <div>1.000</div>
                            </div>
                        </div>
                    </div>
                    <hr width="100%" size="1px" />
                    <div class="color">
                        <div class="dm">
                            <p class="d">Màu sắc</p>
                            <img class="down" data-toggle="collapse" data-target="#list-checkbox4"
                                src="images/icons/left.png" onclick="change3()" id="img-down3" alt="down.png">
                        </div>
                        <div class="collapse" id="list-checkbox4" style="padding-top: 5px;">
                            <div class="checkbox-color">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckColor-1">
                                    <label class="custom-control-label" for="customCheckColor-1"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">Trắng</a>
                                </div>
                            </div>
                            <div class="checkbox-color">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckColor-2">
                                    <label class="custom-control-label" for="customCheckColor-2"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">Đen</a>
                                </div>
                            </div>
                            <div class="checkbox-color">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckColor-3">
                                    <label class="custom-control-label" for="customCheckColor-3"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">Đỏ</a>
                                </div>
                            </div>
                            <div class="checkbox-color">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheckColor-4">
                                    <label class="custom-control-label" for="customCheckColor-4"></label>
                                </div>
                                <div class="name-product">
                                    <a class="card-title m-0">Vàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--left-->
            </div>
            <div class="col-sm-9">
                <div class="right">
                    <div class="text">
                        <div class="gender">
                            <a class="gender-male" style="text-decoration: none;">Nam </a>
                            <span>|</span>
                            <a class="gender-female">Nữ</a></span>
                        </div>
                        {{!-- <button class="short" data-toggle="collapse" data-target="#sort">Sắp xếp theo <img style="width:30px;padding-left: 20px; "
                            src="images/icons/down.png" alt="down.png"> </button> --}}
                        <div class="dropdown">
                            <button class="component-outline-button dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Sắp xếp theo
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Giá tăng dần</a>
                                <a class="dropdown-item" href="#">Giá giảm dần</a>
                                <a class="dropdown-item" href="#">Sản phẩm bán chạy nhất</a>
                            </div>
                        </div>
                    </div>
                    {{!-- <div id="sort" class="panel-collapse collapse" style="border: 1px solid #717fe0;background-color: #f2f2f2;width=500px;
                    border-radius: 3px;">
                        <!-- <div class="panel-body">Panel Body</div> -->
                        Sắp xếp theo  : 
                        
                    </div> --}}
                    <div class="row">
                        {{#each products}}
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex">
                            <div class="component-product card">
                                <div class="product-image">
                                    <img data-toggle="tooltip" title="{{this.name}}" src="{{this.img}}"
                                        class="card-img-top" alt="...">
                                    <a href="/product/detail/{{this._id}}" class="stretched-link"></a>
                                    <div class="deal-tag">30%</div>
                                    <div class="hover-div">
                                        <a href="#"><i class="fas fa-shopping-cart"></i>&ensp;Mua hàng</a>
                                        <div>&nbsp;|&nbsp;</div>
                                        <a href="/product/detail/{{this._id}}" class="mr-3"><i
                                                class="far fa-eye"></i>&ensp;Chi
                                            tiết</a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <a href="/product/detail/{{this._id}}" class="card-title m-0">{{this.name}}</a>
                                    <div class="m-0 mt-1 d-flex justify-content-center">
                                        <span class="sale-price">{{formatPrice this.price}}<u>đ</u></span>
                                        <span class="original-price ml-3">
                                            {{formatPrice this.originalPrice}}<u>đ</u>
                                        </span>
                                    </div>
                                    <button class="btn favorite-btn"><i class="far fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <nav aria-label="..." class="mx-auto">
                        <ul class="pagination">
                            {{#each pageNumbers}}
                            {{#if active}}
                            <li class="page-item"><a class="page-link active" href="?pageNumber={{value}}">{{value}}</a>
                            </li>
                            {{else}}
                            <li class="page-item"><a class="page-link" href="?pageNumber={{value}}">{{value}}</a>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                <!--right-->
            </div>
        </div>
    </div>
</div>
<!--
<nav aria-label="..." class="mx-auto" style="text-align: center;">
					<ul class="pagination">
						{{#each page}}
							<li class="page-item"><a class="page-link" href="{{../linkPage}}/{{this}}">{{this}}</a></li>
						{{/each}}
					</ul>
				</nav>-->


{{#section 'js'}}
<script>
    var img_tracker = 'f';
    function change() {
        var img = document.getElementById("img-down");
        if (img_tracker == 'f') {
            img.src = 'images/icons/down.png';
            img_tracker = 't';
        } else {
            img.src = 'images/icons/left.png';
            img_tracker = 'f';
        }
    }
</script>
<script>
    var img_tracker1 = 'f';
    function change1() {
        var img = document.getElementById("img-down1");
        if (img_tracker1 == 'f') {
            img.src = 'images/icons/down.png';
            img_tracker1 = 't';
        } else {
            img.src = 'images/icons/left.png';
            img_tracker1 = 'f';
        }
    }
</script>
<script>
    var img_tracker2 = 'f';
    function change2() {
        var img = document.getElementById("img-down2");
        if (img_tracker2 == 'f') {
            img.src = 'images/icons/down.png';
            img_tracker2 = 't';
        } else {
            img.src = 'images/icons/left.png';
            img_tracker2 = 'f';
        }
    }
</script>
<script>
    var img_tracker3 = 'f';
    function change3() {
        var img = document.getElementById("img-down3");
        if (img_tracker3 == 'f') {
            img.src = 'images/icons/down.png';
            img_tracker3 = 't';
        } else {
            img.src = 'images/icons/left.png';
            img_tracker3 = 'f';
        }
    }
</script>
<script>
    function rangeSlider(value) {
        document.getElementById('rangeValue').innerHTML = value;
    }
</script>

{{!-- <script>
    var coll = document.getElementsByClassName("down");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var checkbox1 = this.nextElementSibling;
            if (checkbox1.style.display === "block") {
                checkbox1.style.display = "none";
            } else {
                checkbox1.style.display = "block";
            }
        });
    }
</script> --}}
{{!-- <script>
    $(document).ready(function () {
        $(".down").click(function () {
            $(".checkbox-cate").collapse('toggle');
        });
    });
</script> --}}


<script src="/pages/page-product/list-product.js"></script>
{{/section}}