<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- font-awesome CSS
		============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="product list.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link href="/components/component-filter-list.css" rel="stylesheet" />
    <link href="/components/component-default-button.css" rel="stylesheet" />
    <link href="/components/component-intro-home.css" rel="stylesheet" />
    <link href="/components/component-category.css" rel="stylesheet" />
    <link href="/components/component-product.css" rel="stylesheet" />
    <link href="/components/component-list-products.css" rel="stylesheet" />
    <link href="/components/component-checkable-product.css" rel="stylesheet" />
    <link href="/pages/page-home/style.css" rel="stylesheet" />
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="animsition">
    <div class="container">
        <div class="infor">
            <div class="col-sm-3" style="padding-left: 0;">
                <div class="left">
                    <div class="filter">
                        <span>
                                 <a style="font-weight:bold;text-decoration: none;color: black;">BỘ LỌC</a>
                                 <button class="delete-filter"> Xóa bộ lọc </button>
                                </span>
                    </div>
                    <hr width="100%" size="1px" />
                    <div class="categories">
                        <div class="dm">
                            <p class="d">Danh mục <img class="down" data-toggle="collapse" data-target="#list-checkbox1" src="images/icons/down.png" alt="down.png"> </p>
                        </div>
                        <div class="checkbox-cate" id="list-checkbox1">
                            <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-6">
										<label class="custom-control-label" for="customCheck{{this._id}}-6"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">Đầm</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-7">
										<label class="custom-control-label" for="customCheck{{this._id}}-7"></label>
									</div>
                                    <div class="name-product">
										<a  class="card-title m-0">Jeans</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-8">
										<label class="custom-control-label" for="customCheck{{this._id}}-8"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">Áo thun</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-9">
										<label class="custom-control-label" for="customCheck{{this._id}}-9"></label>
									</div>
                                    <div class="name-product">
										<a  class="card-title m-0">Chân váy</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-10">
										<label class="custom-control-label" for="customCheck{{this._id}}-10"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">Phụ kiện</a>
									</div>
								</div>
                        </div>
                      
                    </div>
                    <hr width="100%" size="1px" />
                    <div class="size">
                        <div class="sizedm">
                            <p class="d">Size <img class="down" data-toggle="collapse" data-target="#list-checkbox2" src="images/icons/down.png" alt="down.png"></p>
                        </div>
                        <div class="checkbox-size" id="list-checkbox2">
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-1">
										<label class="custom-control-label" for="customCheck{{this._id}}-1"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">XS</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-2">
										<label class="custom-control-label" for="customCheck{{this._id}}-2"></label>
									</div>
                                    <div class="name-product">
										<a  class="card-title m-0">S</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-3">
										<label class="custom-control-label" for="customCheck{{this._id}}-3"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">M</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-4">
										<label class="custom-control-label" for="customCheck{{this._id}}-4"></label>
									</div>
                                    <div class="name-product">
										<a  class="card-title m-0">L</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-5">
										<label class="custom-control-label" for="customCheck{{this._id}}-5"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">XL</a>
									</div>
								</div>                       
                        </div>
                    </div>
                    <hr width="100%" size="1px" />
                    <div class="cost">
                        <div class="costdm">
                            <p class="d" style="padding-bottom: 50px;">Giá tiền (nghìn vnđ)<img class="down" data-toggle="collapse" data-target="#slider" src="images/icons/down.png" alt="down.png"></p>
                        </div>
                        <div class="checkbox-cost" id="slider">
                            <input type="range" class="range" name="" value="500" min="100" max="1000" onmousemove="rangeSlider(this.value)" onChange="rangeSlider(this.value)"></br>
                            <table>
                                <tr>
                                    <td style="width:120px">
                                        <p style="float: left;">100</p>
                                    </td>
                                    <td>
                                        <p class="value" id="rangeValue">500 </p>
                                    </td>
                                    <td>
                                        <p style="padding-left: 125px;">1.000</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr width="100%" size="1px" />
                    <div class="color">
                        <div class="colordm">
                            <p class="d">Màu sắc<img class="down" data-toggle="collapse" data-target="#list-checkbox4" src="images/icons/down.png" alt="down.png"> </p>
                        </div>
                        <div class="checkbox-color" id="list-checkbox4">
                             <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-11">
										<label class="custom-control-label" for="customCheck{{this._id}}-11"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">Trắng</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-12">
										<label class="custom-control-label" for="customCheck{{this._id}}-12"></label>
									</div>
                                    <div class="name-product">
										<a  class="card-title m-0">Đen</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-13">
										<label class="custom-control-label" for="customCheck{{this._id}}-13"></label>
									</div>
                                    <div class="name-product">
										<a class="card-title m-0">Đỏ</a>
									</div>
								</div>
                                <div class="card-boy">									
									<div class="custom-control custom-checkbox">                                    
										<input type="checkbox" class="custom-control-input"
											id="customCheck{{this._id}}-14">
										<label class="custom-control-label" for="customCheck{{this._id}}-14"></label>
									</div>
                                    <div class="name-product">
										<a  class="card-title m-0">Vàng</a>
									</div>
								</div>
                        </div>
                    </div>
                </div>
                <!--left-->
            </div>
            <div class="col-sm-9" style="padding-left: 50px;">
                <div class="right">
                    <div class="text">
                        <div class="gender">
                           <span> <a class="gender-male" style="text-decoration: none;">Nam </a>
                            <a>|</a>
                            <a class="gender-female"> Nữ</a></span>
                        </div>
                        <button class="short">Sắp xếp theo <img  style="width:30px;padding-left: 20px; " src="images/icons/down.png" alt="down.png"> </button>
                    </div>
                  
                <div class="row">
                        {{#each products}}
                        <div class="col-sm-4 col-md-6 col-lg-4 " id={{this.catergory}}>
                            <div class="component-product card">
                                <div class="product-image">
                                    <img data-toggle="tooltip" title="{{this.name}}" src="{{this.img}}" class="card-img-top" alt="...">
                                    <a href="/product/detail/{{this._id}}" class="stretched-link"></a>
                                    <div class="deal-tag">30%</div>
                                    <div class="hover-div">
                                        <a href="#"><i class="fas fa-shopping-cart"></i>&ensp;Mua hàng</a>
                                        <div>&nbsp;|&nbsp;</div>
                                        <a href="/product/detail/{{this._id}}" class="mr-3"><i class="far fa-eye"></i>&ensp;Chi
                                                tiết</a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <a href="/product/detail/{{this._id}}" class="card-title m-0">{{this.name}}</a>
                                    <div class="m-0 mt-1 d-flex justify-content-center">
                                        <span class="sale-price">{{formatPrice this.price}}<u>đ</u></span>
                        <span class="original-price ml-3">
                                                195,000<u>đ</u>
                                            </span>
                    </div>
                    <button class="btn favorite-btn"><i class="far fa-heart"></i></button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
 <!--right-->
 </div>
</div>
</div>
<!--
<nav aria-label="..." class="mx-auto" style="text-align: center;">
					<ul class="pagination">
						{{#each page}}
							<li class="page-item"><a class="page-link" href="{{../linkPage}}/{{this}}">{{this}}</a></li>
						{{/each}}
					</ul>
				</nav>-->
                <script>
        function rangeSlider(value) {
            document.getElementById('rangeValue').innerHTML = value;
        }
    </script>
</body>
    

