{{#section 'css'}}
<link href="/components/component-list-products.css" rel="stylesheet" />
<link href="/components/component-checkable-product.css" rel="stylesheet" />
<link href="/pages/page-try-on-clothes/style.css" rel="stylesheet" />
{{/section}}

<div class="try-clothes-page">
    <div class="left-component">
        <div class="measure-component">
            <div class="input-row">
                <div class="input-component">
                    <h4>Giới tính</h4>
                    <select>
                        <option value="nu">Nữ</option>
                    </select>
                </div>
                <div class="input-component">
                    <h4>Chiều cao (cm)</h4>
                    <input id="height" type="number" value="150" />
                </div>
                <div class="input-component">
                    <h4>Cân nặng (kg)</h4>
                    <input id="width" type="number" value="50" />
                </div>
            </div>
            <div class="input-row">
                <div class="input-component">
                    <h4>Vòng 1 (cm)</h4>
                    <input id="bust" type="number" value="90" />
                </div>
                <div class="input-component">
                    <h4>Vòng 2 (cm)</h4>
                    <input id="waist" type="number" value="60" />
                </div>
                <div class="input-component">
                    <h4>Vòng 3 (cm)</h4>
                    <input id="hips" type="number" value="90" />
                </div>
            </div>
            <div class="button">
                <button class="component-default-button" onclick="onClickModel()">
                    Tạo mẫu
                </button>
            </div>
        </div>

        <div class="model-component">
            <div class="model-layer">
                <img id="model" src="/images/Models/2.png" alt="">
                <img id="model-shirt" src="" alt="">
                <img id="model-skirt" src="" alt="">
                <img id="model-dress" src="" alt="">
                <img id="model-a" src="" alt="">
                <img id="model-b" src="" alt="">
            </div>
            <div class="selected-products">
                <div class="product-selected-list">

                </div>
                <button>
                    <i class="fa fa-shopping-cart"></i>
                    Thêm vào giỏ hàng
                </button>
            </div>

        </div>
    </div>
    <div class="right-component">
        <div class="component-list-products card">
            <div class="content">
                <div class="scroller scroller-left"><i class="zmdi zmdi-chevron-left"></i></div>
                <div class="scroller scroller-right"><i class="zmdi zmdi-chevron-right"></i></div>
                <div class="wrapper">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            {{#each categories}}
                            {{#if isActive}}
                            <p class="nav-item nav-link active" id="category-{{id}}-nav-tab" data-toggle="tab"
                                href="#category-{{id}}-nav" role="tab" aria-controls="category-{{id}}-nav"
                                aria-selected="true">
                                {{name}}
                            </p>
                            {{else}}
                            <p class="nav-item nav-link" id="category-{{id}}-nav-tab" data-toggle="tab"
                                href="#category-{{id}}-nav" role="tab" aria-controls="category-{{id}}-nav"
                                aria-selected="true">
                                {{name}}
                            </p>
                            {{/if}}
                            {{/each}}
                        </div>
                    </nav>
                </div>

                <div class="tab-content" id="nav-tabContent">
                    {{#each categories}}
                    {{#if isActive}}
                    <div class="tab-pane fade show active" id="category-{{id}}-nav" role="tabpanel"
                        aria-labelledby="category-{{id}}-nav-tab">
                        <div class="search-input-group input-group mb-3">
                            <input type="text" data-category="{{id}}" class="form-control" placeholder="Tên sản phẩm"
                                aria-label="Tên sản phẩm" aria-describedby="button-addon">
                            <div class="input-group-append">
                                <button class="btn btn-search-products" type="button" id="button-addon"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class="list-products">
                            {{#each listProducts}}
                            <div class="component-checkable-product card mr-2">
                                <div class="product-image">
                                    <img data-toggle="tooltip" title="{{this.name}}" src="{{this.img}}" alt="" />
                                    <a href="/product/detail/{{this._id}}" class="stretched-link"></a>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <a href="/product/detail/{{this._id}}" class="card-title m-0">{{this.name}}</a>
                                        <div class="m-0 mt-1 d-flex">
                                            <span class="sale-price">{{formatPrice this.price}}<u>đ</u></span>
                                            <span class="original-price ml-3">
                                                {{formatPrice this.originalPrice}}<u>đ</u>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input tab" name="Tab1"
                                            id="customCheck{{this._id}}-1">
                                        <label class="custom-control-label" for="customCheck{{this._id}}-1"></label>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{else}}
                    <div class="tab-pane fade" id="category-{{id}}-nav" role="tabpanel"
                        aria-labelledby="category-{{id}}-nav-tab">
                        <div class="search-input-group input-group mb-3">
                            <input type="text" data-category="{{id}}" class="form-control" placeholder="Tên sản phẩm"
                                aria-label="Tên sản phẩm" aria-describedby="button-addon">
                            <div class="input-group-append">
                                <button class="btn btn-search-products" type="button" id="button-addon"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                        <div class="list-products">
                            {{#each listProducts}}
                            <div class="component-checkable-product card mr-2">
                                <div class="product-image">
                                    <img data-toggle="tooltip" title="{{this.name}}" src="{{this.img}}" alt="" />
                                    <a href="/product/detail/{{this._id}}" class="stretched-link"></a>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <a href="/product/detail/{{this._id}}" class="card-title m-0">{{this.name}}</a>
                                        <div class="m-0 mt-1 d-flex">
                                            <span class="sale-price">{{formatPrice this.price}}<u>đ</u></span>
                                            <span class="original-price ml-3">
                                                {{formatPrice this.originalPrice}}<u>đ</u>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input tab" name="Tab1"
                                            id="customCheck{{this._id}}-1">
                                        <label class="custom-control-label" for="customCheck{{this._id}}-1"></label>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
<script src="/pages/page-try-on-clothes/scrollable-nav-tabs.js"></script>
<script src="/pages/page-try-on-clothes/change-model.js"></script>
<script src="/pages/page-try-on-clothes/one-pick-tab.js"></script>
<script src="/pages/page-try-on-clothes/search-clothes.js"></script>
{{/section}}